<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Benjy's personal site</title>
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <table cellspacing="20">
            <tr>
                <td><img src="static/Benjy_profile.png" alt="Benjy profile picture" width="200" height="auto"></td>
                <td><h1>Benjy Lovat</h1>
                    <p> <em>Biomedical Engineer at <strong>Cambridge Consultants</strong></em>. </p>
                    <p>I am a Biomedical engineer at Cambridge Consultants having joined in October 2022.
                       Previously I completed a masters in mechanical engineering at Imperial College London where I graduated 4th in the year.
                       My later years had a medical engineering emphasis: 
                       <ul>
                        <li><strong>Literature review:</strong> Investigating the most suitable shoulder arthroplasty method for young patients</li>
                        <li><strong>Third year group project:</strong> Design and manufacture of the kinematic elements of an active shoulder exoskeleton</li>
                        <li><strong>Undergraduate research project (UROP):</strong> Use of ultrasonics in orthopaedics</li>
                        <li><strong><a href="https://www.imperial.ac.uk/mechanical-engineering/study/undergraduate/fourth-year-individual-projects/benjamin-lovat/">Final Year Individual project (FYP): </a></strong> Creation of a mechanically tuned bone model to evaluate surgical fracture repair</li>
                       </ul>            
                    </p></td>
            </tr>
        </table>
        
        
        <hr>
        <h2>Education</h2>
        <ul>
            <li>Menorah Foundation (2002-2009)</li>
            <li>City of London Boys School (2009-2016)</li>
            <li>Imperial College London (2018-2022)</li>
        </ul>

        <hr>

        <h2>Hobbies</h2>
        <ol>
            <li>Sport</li>
            <ul>
                <li>Cricket</li>
                <li>Squash</li>
                <li>Tennis</li>
                <li>Badminton</li>
                <li><a href="static/climbing.jpg">Climbing</a></li>
                <li>Cycling</li>
                <li>Swimming</li>
                <li>Running</li>
            </ul>
            <li>Coding</li>
            <ul>
                <li>Python</li>
                <li>Matlab</li>
                <li>HTML, JS and CSS</li>
            </ul>
            <li>Baking</li>
            <li>Cars </li>
        </ol>

        <hr>

        <h2>Work experience</h2>

        <table cellspacing="10">

            <thead>
                <tr>
                    <th>Dates</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>10/2022-Present</td>
                <td>Biomedical Engineer - Cambridge Consultants</td>
            </tr>
            <tr>
                <td>06/2021-09/2021</td>
                <td>Undergraduate researcher – Imperial College London</td>
            </tr>
            <tr>
                <td>07/2019-08/2019</td>
                <td>Hardware intern - Touch Surgery</td>
            </tr>
            </tbody>

            <tfoot>

            </tfoot>
        </table>

        <hr>

        <h2>Skills</h2>

        <table cellspacing="10">
            <tr>
                <td>Python </td>
                <td>⭐⭐⭐</td>
                
            </tr>
            <tr>
                <td>Matlab</td>
                <td> ⭐⭐</td>
            </tr>
            <tr>
                <td>Solidworks </td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Baking</td>
                <td>⭐⭐⭐⭐⭐</td>
        </table>
        
<!-- Nested table example
        <table border="1">
                <tr>
                    <td>
                    <table>
                    <tr>
                        <td>Python </td>
                        <td>⭐⭐⭐</td>
                        
                    </tr>
                    <tr>
                        <td>Matlab</td>
                        <td> ⭐⭐</td>
                    </tr>
                    </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Solidworks </td>
                                <td>⭐⭐⭐</td>
                            </tr>
                            <tr>
                                <td>Baking</td>
                                <td>⭐⭐⭐⭐⭐</td>
                            </tr>
                        </table>
                    </td>
                </tr>
    
        </table>
-->
        <hr>
        <h2><a href="contact.html"> Contact details</a></h2>

        
    </body>
</html>